<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div id="app">
    <h1 v-if="ok" >标题一</h1>
    <h2 v-else>标题2</h2>
</div>
<div id="app2">
    <template v-if="ok">
        <p>some text</p>
        <p>some text</p>
        <p>some text</p>
        <p>some text</p>
    </template>
</div>

<script src="test.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            ok: true
        }
    });
    var app2 = new Vue({
        el: '#app2',
        data: {
            ok: true
        }
    });
</script>
</body>
</html>